[submodule "packages/odin-vma"]
	path = packages/odin-vma
	url = https://github.com/DanielGavin/odin-vma
[submodule "packages/odin-tracy"]
	path = packages/odin-tracy
	url = https://github.com/MineBill/odin-tracy
